<% author_products = Spree::Product.limit(5).order('updated_at DESC').search(:author_cont => author.name.strip).result %>
<% if author_products.present? %>
<%= content_tag(:h2, t(:resources_by_author, :author => author.name)) %>
<div class="row" id="author-products">
<% author_products.each do |product| %>
	<div class="column">
		<%= link_to small_image(product), product, title: product.name, rel: 'tooltip' %>
	</div>
<% end %>
</div>
<% if gem_available? 'spree_sunspot_search' %>
<%= content_tag(:p, link_to(t(:view_all_author_products, author: author.name), products_path(:author_list_facet => author.name), class: 'btn')) %>
<% end %>
<% end %>
