<% @body_class = 'serif-headers' %>
<% cache ["author-index", Spree::Author.maximum('updated_at').to_i] do %>
<div class="row" id="author-listing">
  <div class="container"><h1>Authors</h1></div>
  <% @authors.each do |author| %>
    <div class="column">
      <%= content_tag(:h3, author.name) %>
      <%= link_to(image_tag(author.photo.url(:small)), author) %>
    </div>  
  <% end %>
</div>
<% end %>