<% @body_class = 'serif-headers' %>
<% cache ["author-index", Spree::Author.maximum('updated_at').to_i] do %>
<div class="row" id="author-listing">
  <h1>Authors</h1>
  <div class="row">
  	<%= render :partial => 'author_list', :locals => { :authors => @authors } %>
  </div>
</div>
<% end %>